
@model MVCTest.Models.DetaliiProiectViewModel

<div style="padding-left:200px">
    <h3>@Model.nume</h3>
    <br/>
    <br/>
    @using (Html.BeginForm("Modifica", "DetaliiProiect", FormMethod.Post))
        {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.id)
        <div style="float: left">
        @Html.EditorFor(model => model.nume, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <input type="submit" value="Modifica numele" class="btn btn-default" />
        }
    <br />
    @using (Html.BeginForm("Schimbari", "DetaliiProiect", FormMethod.Post))
        {
        @Html.AntiForgeryToken()
        <table class="mytable" cellspacing=0>
            <tr >
                <th >
                    Nume Angajat
                </th>
                <th class="hiddencell">
                    Participant
                </th>
            </tr>
            @for (int i = 0; i < Model.totiangajatii.Count(); i++)
                {
                <tr >
                    <td >
                        @Html.DisplayFor(model => model.totiangajatii[i].nume)
                    </td>
                    <td class="hiddencell">
                        @Html.EditorFor(model => model.totiangajatii[i].check)
                        @Html.HiddenFor(model => model.totiangajatii[i].id)
                    </td>
                </tr>
                }
        </table>
        <br />
        @Html.HiddenFor(model => model.id)
        <input type="submit" value="Salveaza schimbarile" class="btn btn-default" />
        }
</div>
@section dropdown_pro
    {
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Model.nume<span class="caret"></span></a>
    <ul class="dropdown-menu">
        @foreach (string i in ViewBag.proiecte)
            {
            <li><a href="@Url.Action("FindId", new { nume = i })">@i</a></li>
            }
    </ul>
</li>
    }