

<ul class="nav nav-tabs" style="width:50%; min-width:400px">
    <li class="select @(ViewBag.chk ? "inactive" : "active")"><a onclick="loadPartial('False');"><h3>Departamente</h3></a></li>
    <li class="select @(ViewBag.chk ? "active" : "inactive")"><a onclick="loadPartial('True');"><h3>Proiecte</h3></a></li>
</ul>

<div id="div_partial" style="position:relative; top: 50px"></div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery.ajax")

    <script type="text/javascript">

        $(document).ready(function () {
            loadPartial("@ViewBag.chk");
        })

        function loadPartial(chk) {
            if (chk == "True") {
                $("#div_partial").load("/HomePage/Proiecte", revalidation);
            }
            else $("#div_partial").load("/HomePage/Departamente", revalidation);
        }

        $(".select").click(function () {

            if ($(this).hasClass("inactive")) {

                $(".select").toggleClass("inactive");
                $(".select").toggleClass("active");
            }
        })

        function revalidation() {
            $("#div_partial").removeData("validator");
            $("#div_partial").removeData("unobtrusive");
            $.validator.unobtrusive.parse("#div_partial");
        }

    </script>
}




