
@model MVCTest.Models.HomePageViewModel




<ul class="nav nav-tabs" style="width:50%; min-width:400px">
    <li class=@(ViewBag.chk ? "inactive" : "active")><a href="@Url.Action("Index")"><h3>Departamente</h3></a></li>
    <li class=@(ViewBag.chk ? "active" : "inactive")><a href="@Url.Action("Index", new { chk = 1 })"><h3>Proiecte</h3></a></li>
</ul>

<div style="position:relative; top: 50px">
    @{
        if (ViewBag.chk)
            {
            <table class="mytable" cellspacing=0>
                <tr>
                    <th>
                        Nume Proiect
                    </th>
                    <th>
                        Nr. de participanti
                    </th>
                    <th class="hiddencell"></th>
                    <th class="hiddencell"></th>
                </tr>
                @foreach (MVCTest.Models.proiecte i in Model.proiecte)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => i.nume)
                        </td>
                        <td>
                            @i.angajati.Count()
                        </td>
                        <td class="hiddencell">
                            <a href="@Url.Action("Index", "DetaliiProiect", new { id = i.id })"><button type="button" class="btn btn-default">Detalii</button></a>
                        </td>
                        <td class="hiddencell">
                            @using (Html.BeginForm("DeleteProiect", "HomePage", i, FormMethod.Post))
                                {
                                @Html.AntiForgeryToken()
                                <input type="submit" value="Opreste" class="btn btn-danger" />
                                }
                        </td>
                    </tr>
                    }
            </table>
            <br />
            using (Html.BeginForm("CreateProiect", "HomePage", FormMethod.Post))
                {
                @Html.AntiForgeryToken();
                <fieldset>
                    <div style="width:230px; float:left">
                        @Html.TextBox("newproname", "Proiect nou", new { @class = "form-control" })
                        @Html.ValidationMessage("newproname", new { @class = "text-danger" })
                    </div>
                    <input type="submit" value="Creeaza" class="btn btn-default" />
                </fieldset>
                }
            }
        else
            {
            <table class="mytable" cellspacing="0">
                <tbody>
                    <tr>
                        <th>
                            Nume Departament
                        </th>
                        <th>
                            Nr. de angajati
                        </th>
                        <th class="hiddencell"></th>
                        <th class="hiddencell"></th>
                    </tr>
                    @foreach (MVCTest.Models.departamente i in Model.departamente)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => i.nume)
                            </td>
                            <td>
                                @i.angajati.Count()
                            </td>
                            <td class="hiddencell">
                                <a href="@Url.Action("Index", "Detalii", new { id = i.id })"><button type="button" class="btn btn-default">Detalii</button></a>
                            </td>
                            <td class="hiddencell">
                                @using (Html.BeginForm("Delete", "HomePage", i, FormMethod.Post))
                                    {
                                    @Html.AntiForgeryToken()
                                    <input type="submit" value="Desfiinteaza" class="btn btn-sm btn-danger" />
                                    }
                            </td>
                        </tr>
                        }
                </tbody>
            </table>
            <br />
            using (Html.BeginForm("Create", "HomePage", FormMethod.Post))
                {
                @Html.AntiForgeryToken()
                <fieldset>
                    <div style="width:250px; float:left">
                        @Html.TextBox("newdepname", "Departament nou", new { @class = "form-control" })
                        @Html.ValidationMessage("newdepname", new { @class = "text-danger" })
                    </div>
                    <input type="submit" value="Infiinteaza" class="btn btn-default" />
                </fieldset>
                }
            }

    }

    @Html.Label((string)ViewBag.Error, new { @class = "text-danger" })

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




