
@model MVCTest.Models.HomePageViewModel

    <div style="float:left; width:500px; padding-left:100px" >
        <h3>Departamente</h3>
         <table style="border-style:solid; border-width:3px" rules="all" cellspacing=0>
             <tr style="border-style:solid; border-width:2px">
                 <th style="border-style:solid; border-width:2px">
                     Nume Departament
                 </th>
                 <th style="border-right-width:3px">
                     Nr. de angajati
                 </th>
                 <th style="border-style:hidden; border-left-style:none"></th>
                 <th style="border-style:hidden"></th>
             </tr>
             @foreach (MVCTest.Models.departamente i in Model.departamente)
                 {
                 <tr style="border-style:solid; border-width:1px">
                    <td>
                        @Html.DisplayFor(m => i.nume)
                    </td>
                     <td style="border-right-width:3px">
                         @i.angajati.Count()
                     </td>
                     <td style="border-style:hidden; border-left-style:none; padding-left:10px">
                         @Html.ActionLink("Detalii", "Index","Detalii", new { id = i.id}, new { })
                     </td>
                     <td style="border-style:hidden; padding-left:10px">
                         @using (Html.BeginForm("Delete", "HomePage", i, FormMethod.Post))
                             {
                             @Html.AntiForgeryToken()
                             <input type="submit" value="Desfiinteaza" />
                             }
                     </td>
                 </tr>
                 }
         </table>
        <br/>
            @using (Html.BeginForm("Create", "HomePage", FormMethod.Post))
                {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.AntiForgeryToken()
                @Html.TextBox("newdepname")
                @Html.ValidationMessage("newdepname", "", new { @class = "text-danger" })
                <input type="submit" value="Infiinteaza" />
                }


        </div>
    <div style="float:left; padding-left:200px">
        <h3>Proiecte</h3>
        <table style="border-style:solid; border-width:3px" rules="all" cellspacing=0>
            <tr style="border-style:solid; border-width:2px">
                <th style="border-style:solid; border-width:2px">
                    Nume Proiect
                </th>
                <th style="border-right-width:3px">
                    Nr. de participanti
                </th>
                <th style="border-style:hidden; border-left-style:none"></th>
                <th style="border-style:hidden"></th>
            </tr>
            @foreach (MVCTest.Models.proiecte i in Model.proiecte)
                {
                <tr style="border-style:solid; border-width:1px">
                    <td>
                        @Html.DisplayFor(modelItem => i.nume)
                    </td>
                    <td style="border-right-width:3px">
                        @i.angajati.Count()
                    </td>
                    <td style="border-style:hidden; border-left-style:none; padding-left:10px">
                        @Html.ActionLink("Detalii", "Index", "DetaliiProiect", new { id = i.id }, new { })
                    </td>
                    <td style="border-style:hidden; padding-left:10px">
                        @using (Html.BeginForm("DeleteProiect", "HomePage", i, FormMethod.Post))
                            {
                            @Html.AntiForgeryToken()
                            <input type="submit" value="Opreste" />
                            }
                    </td>
                </tr>
                }
        </table>
        <br />
        @using (Html.BeginForm("CreateProiect", "HomePage", FormMethod.Post))
            {
            @Html.AntiForgeryToken();
            @Html.TextBox("newproname")
            <input type="submit" value="Incepe"/>
            }
    </div>

