@{ Layout = null; }

@model MVCTest.Models.DetaliiViewModel

<h3 id="h_nume">@Html.DisplayFor(model => model.nume)</h3>
<br />
<br />


@using (Ajax.BeginForm("ModificaDepartament", "Detalii", new AjaxOptions { HttpMethod = "Post", Confirm = "Sigur?", UpdateTargetId = "h_nume", OnSuccess = "updateName();" }))
    {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.id)
    @Html.Hidden("nume_angajat", "N")
    @Html.Hidden("prenume_angajat", "P")
    <div style="float: left">
        @Html.TextBox("nume", Model.nume, new { @class = "form-control" })
        @Html.ValidationMessage("nume", new { @class = "text-danger" })
    </div>
    <input type="submit" class="btn btn-default" value="Modifica numele" />
    }
<br />
<br />
<div>
    <table cellspacing="0" class="mytable">
        <tr>
            <th>
                Nume angajat
            </th>
            <th>
                Data Angajarii
            </th>
            <th class="hiddencell"></th>
        </tr>

        @foreach (MVCTest.Models.angajati i in Model.angajati)
            {
            <tr>
                <td>
                    @Html.DisplayFor(m => i.nume) @Html.DisplayFor(m => i.prenume)
                </td>
                <td>
                    @Html.DisplayFor(m => i.data)
                </td>
                <td class="hiddencell">
                    @using (Ajax.BeginForm("Concediaza", "Detalii", new { id = i.id, proid = Model.id }, new AjaxOptions { HttpMethod = "Post", Confirm = "Sigur?", UpdateTargetId = "div_content", OnSuccess = "revalidatoin();" }))
                        {
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Concediaza" class="btn btn-danger" />
                        }
                </td>
            </tr>

            }
    </table>
</div>
<br />

@using (Ajax.BeginForm("Transfera", "Detalii", new { id = Model.id }, new AjaxOptions { HttpMethod = "Post", Confirm = "Sigur?", UpdateTargetId = "div_content", OnSuccess = "revalidation();" }))
    {
    @Html.AntiForgeryToken()
    @Html.DropDownList("angajati", "Angajati");
    <input type="submit" value="Transfera" class="btn btn-default" />
    }
<br />
@using (Ajax.BeginForm("Angajeaza", "Detalii", new AjaxOptions { HttpMethod = "Post", Confirm = "Sigur?", UpdateTargetId = "div_content", OnSuccess = "revalidation();" }))
    {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.nume)
    <div style="float: left">
        @Html.TextBox("nume_angajat", "Nume", new { @class = "form-control" })
        @Html.ValidationMessage("nume_angajat", new { @class = "text-danger" })
    </div>
    <div style="float: left">
        @Html.TextBox("prenume_angajat", "Prenume", new { @class = "form-control" })
        @Html.ValidationMessage("prenume_angajat", new { @class = "text-danger" })
    </div>
    <input type="submit" value="Angajeaza" class="btn btn-default" />
    }

@Scripts.Render("~/bundles/jqueryval")