
@model MVCTest.Models.DetaliiViewModel

<h3>@Html.DisplayFor(model => model.nume)</h3>
<br />
<br />
@using (Html.BeginForm("ModificaDepartament", "Detalii", FormMethod.Post))
    {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.id)
    <div style="float: left">
        @Html.TextBox("nume", Model.nume, new { @class = "form-control" })
    </div>
    <input type="submit" class="btn btn-default" value="Modifica numele" />
    }
<br />

<table cellspacing="0" class="mytable">
    <tr>
        <th>
            Nume angajat
        </th>
        <th>
            Data Angajarii
        </th>
        <th class="hiddencell"></th>
    </tr>

    @foreach (MVCTest.Models.angajati i in Model.angajati)
        {
        <tr>
            <td>
                @Html.DisplayFor(m => i.nume) @Html.DisplayFor(m => i.prenume)
            </td>
            <td>
                @Html.DisplayFor(m => i.data)
            </td>
            <td class="hiddencell">
                @using (Html.BeginForm("Concediaza", "Detalii", new { id = i.id, proid = Model.id }, FormMethod.Post))
                    {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Concediaza" class="btn btn-danger" />
                    }
            </td>
        </tr>

        }
</table>
<br />

@using (Html.BeginForm("Transfera", "Detalii", new { id = Model.id }, FormMethod.Post))
    {
    @Html.AntiForgeryToken()
    @Html.DropDownList("angajati", "Angajati");
    <input type="submit" value="Transfera" class="btn btn-default" />
    }
<br />
@using (Html.BeginForm("Angajeaza", "Detalii", FormMethod.Post))
    {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.nume)
    <div style="float: left">
        @Html.TextBox("nume_angajat", Model.nume_angajat, new { @class = "form-control" })
    </div>
    <div style="float: left">
        @Html.TextBox("prenume_angajat", Model.prenume_angajat, new { @class = "form-control" })
    </div>
    <input type="submit" value="Angajeaza" class="btn btn-default" />
    }

@section dropdown_dep
        {
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Model.nume<span class="caret"></span></a>
        <ul class="dropdown-menu">
            @foreach (string i in ViewBag.departamente)
                {
                <li><a href="@Url.Action("FindId", new { nume = i })">@i</a></li>
                }
        </ul>
    </li>
}
