<div id="div_content">
    @Html.Action("Content", new { id = ViewBag.Id})
</div>

@section dropdown_dep
        {
    <li class="dropdown">
        <a id="dd_departamente" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@ViewBag.Title<span class="caret"></span></a>
        <ul class="dropdown-menu">
            @foreach (string i in ViewBag.departamente)
                {if (i != ViewBag.Title )
                    {
                    <li><a href="@Url.Action("FindId", new { nume = i })">@i</a></li>
                    }
                }
        </ul>
    </li>
}

@section Scripts 
    {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery.ajax")
    <script type="text/javascript">
        function updateName() {
            $("#dd_departamente").html($("#h_nume").html() + '<span class="caret"></span>');
        }
    </script>
    }
