
@{
    Layout = null;
}

@model MVCTest.Models.departamente
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalii @Model.nume</title>
</head>
<body>
    <div style="padding-left:200px">
        <h3>@Html.DisplayFor(model => model.nume)</h3> 
        @using (Html.BeginForm("ModificaDepartament", "Detalii", FormMethod.Post))
            {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.id)
            @Html.EditorFor(model => model.nume)
            <input type="submit" value="Modifica numele" />
            }
        <br/>

        <table border="1" cellspacing="0" rules="all" style="border-width:3px">
            <tr style="border-width:2px">
                <th>
                    Nume angajat
                </th>
                <th style="border-right-width:3px">
                    Data Angajarii
                </th>
                <th style="border-style:hidden; border-left-style:none"></th>
            </tr>

            @foreach (MVCTest.Models.angajati i in Model.angajati)
                {
                <tr style="border-width:1px">
                    <td>
                        @Html.DisplayFor(m => i.nume) @Html.DisplayFor(m => i.prenume)
                    </td>
                    <td style="border-right-width:3px">
                        @Html.DisplayFor(m => i.data)
                    </td>
                    <td style="border-style:hidden; border-left-style:none">
                        @using (Html.BeginForm("Concediaza", "Detalii", new { id = i.id, proid = Model.id }, FormMethod.Post))
                            {
                            @Html.AntiForgeryToken()
                            <input type="submit" value="Concediaza" />
                            }
                    </td>
                </tr>

                }
        </table>
        <br/>

        @using (Html.BeginForm("Transfera", "Detalii", new { id = Model.id }, FormMethod.Post))
            {
            @Html.AntiForgeryToken()
            @Html.DropDownList("angajati", "Angajati");
            <input type="submit" value="Transfera" />
            }
        <br/>
        @using (Html.BeginForm("Angajeaza", "Detalii", new { id = Model.id }, FormMethod.Post))
            {
            @Html.AntiForgeryToken()
            @Html.TextBox("TextNume", "Nume")
            @Html.TextBox("TextPrenume", "Prenume")
            <input type="submit" value="Angajeaza" />
            }
    </div>
</body>
</html>
